 @import url(https://fonts.googleapis.com/css?family=Lato:300italic);

 ::-webkit-scrollbar {
    width: 0px;
 }

 html,
 body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow: hidden;
    background-color: #111;
    /* font-family: 'Segoe UI', sans-serif; */
 }

 .icn {
    width: 25px;
    height: 25px;
    color: #fefefe;

 }

 .text-content {
    position: fixed;
    top: 10px;
    width: 90%;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #ffffff;
 }

 .cake-card {
    /* background-color: var(--clr-100); */
    /* width: 40vw; */
    /* padding: 30px; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    /* bottom: 10px; */
    /* height: 100%; */
 }

 .cake-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
 }


 .name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #eee;
    text-shadow: 0 0 2px white;
 }

 #cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
 }

 /* ============================================== Candle
      */

 .cake {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
 }

 .cake:after,
 .cake:before {
    background: #ff000066;
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
 }

 .cake:after {
    top: 25%;
    left: 0;
 }

 .cake:before {
    top: 45%;
    left: 0;
 }

 /* ============================================== Fire
      */

 .fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
 }

 .fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
 }

 .fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
 }

 .fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
 }

 .fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
 }

 .fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
 }

 /* ============================================== Animation Fire
      */

 @keyframes fuego {

    0%,
    100% {
       background: rgba(255, 249, 80, 0.585);
       box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
       transform: translateY(0) scale(1);
    }

    50% {
       background: rgba(255, 50, 0, 0.1);
       box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
       transform: translateY(-20px) scale(0);
    }
 }

 @keyframes in {
    to {
       transform: translateY(0);
    }
 }

 .text {
    color: #d946ef;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;

    h1 {
       font-size: 1.4em;
    }
 }

 .intro-text {
    font-size: 24px;
    color: #fcfcfc;
    margin-top: 20px;
 }

 .container {
    text-align: center;
    transition: all 1s ease-in-out;
    margin: 2px;
    overflow: scroll;
 }

 .hidden {
    opacity: 0;
    transform: translateY(100px);
    pointer-events: none;
 }

 .typewriter-text {
    border-top: 2px dotted red;
    font-size: 18px;
    padding-top: 5px;
    white-space: pre-wrap;
    color: #fdf4ff;
 }

 /* button */
 .show-img-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d946ef;
    color: #eee;
    padding: 4px 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
 }

 .btn {
    margin-top: 50px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-700);
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px #0000001a;
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
 }

 .btn.fade-in {
    opacity: 1;
    transform: translateY(0);
 }

 .btn:hover {
    opacity: .95;
 }

 .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
 }

 @keyframes ripple {
    0% {
       box-shadow: 0 0 0 0 #ffffff1a, 0 0 0 20px #ffffff1a, 0 0 0 40px #ffffff1a, 0 0 0 60px #ffffff1a;
    }

    100% {
       box-shadow: 0 0 0 20px #ffffff1a, 0 0 0 40px #ffffff1a, 0 0 0 60px #ffffff1a, 0 0 0 80px #ffffff00;
    }
 }

 .line {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    transform: translateY(100px) scale(0.8);
    margin: 10px 0;
    animation: popUp 0.8s forwards ease-out;
    font-size: 16px;
 }

 @keyframes popUp {
    to {
       opacity: 1;
       transform: translateY(0) scale(1);
    }
 }

 .line:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
 }

 .line:last-child {
    font-size: 20px;
    font-weight: bold;
 }

 /* image navigation */

 .main-img {
    min-width: 300px;
    width: 80%;
    max-width: 600px;
    min-height: 300px;
    height: 60vh;
    max-height: 580px;
    margin: 1px auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
 }

 .slide {
    width: 100%;
    transition: 1s;
    outline: 1px solid #d946ef;
    outline-offset: -3px;
    position: absolute;
 }

 .nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .nav button {
    border: none;
    background-color: #f0abfc;
    padding: 0px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .nav button svg {
    height: 30px;
    width: 30px;
    color: #4a044e;
 }

 /* last whish */

 .wishes-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    

    h1 {
       color: #d946ef;
       font-size: 20px;
    }

    h2 {
       color: aquamarine;
       font-size: 16px;
    }
 }