@import url(colorPLT.css);

body {
   margin: 0;
   height: 100vh;
   background-color: #f3aefc;
   overflow: hidden;
   position: relative;
   font-family: 'Segoe UI', sans-serif;
}

.heart {
   width: 60px;
   height: 60px;
   position: absolute;
   background-color: #CC00CC;
   -webkit-mask-image: url('pngegg.png');
   mask-image: url('pngegg.png');
   -webkit-mask-size: contain;
   mask-size: contain;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-position: center;
   mask-position: center;
   z-index: 1;
   animation: float 10s infinite;
}

@keyframes float {
   0% {
      transform: translateY(0) rotate(-45deg);
   }

   50% {
      transform: translateY(-10px) rotate(-45deg);
   }

   100% {
      transform: translateY(0) rotate(-45deg);
   }
}

.big-heart {
   position: fixed;
   width: 150px;
   height: 150px;
   background-color: #CC00CC;
   bottom: 20px;
   right: 20px;
   z-index: 1;
   -webkit-mask-image: url('flower.png');
   mask-image: url('flower.png');
   -webkit-mask-size: contain;
   mask-size: contain;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-position: center;
   mask-position: center;
   rotate: -25deg;
}

.text-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 50px 50px;
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   z-index: 10;
   text-align: center;
   max-width: 90%;
   /* width: 800px; */
   text-wrap: nowrap;
}

.text-container h1 {
   font-size: var(--fs-h1-3);
   color: #CC00CC;
   margin: 0;
   line-height: 1.2;
}

.text-container p {
   font-size: var(--fs-para);
   color: #333;
   margin-top: 20px;
   overflow: hidden;
   /* hide the overflowing text */
   white-space: nowrap;
   border-right: 2px solid #333;
   /* cursor */
   width: 0;
   animation: typing 4s steps(40, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
   from {
      width: 0
   }

   to {
      width: 100%
   }
}

@keyframes blink {
   50% {
      border-color: transparent
   }
}

@media (max-width: 768px) {
   .text-container {
      padding: 30px 20px;
   }

   .text-container h1 {
      font-size: 34px;
   }

   .text-container p {
      font-size: 15px;
   }
}

/* button */
.btn {
   margin-top: 50px;
   outline: 0;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   background: var(--clr-700);
   min-width: 200px;
   border: 0;
   border-radius: 4px;
   box-shadow: 0 4px 12px #0000001a;
   box-sizing: border-box;
   padding: 16px 20px;
   color: #fff;
   font-size: 12px;
   font-weight: 600;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   overflow: hidden;
   cursor: pointer;
}

.btn:hover {
   opacity: .95;
}

.btn .animation {
   border-radius: 100%;
   animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
   0% {
      box-shadow: 0 0 0 0 #ffffff1a, 0 0 0 20px #ffffff1a, 0 0 0 40px #ffffff1a, 0 0 0 60px #ffffff1a;
   }

   100% {
      box-shadow: 0 0 0 20px #ffffff1a, 0 0 0 40px #ffffff1a, 0 0 0 60px #ffffff1a, 0 0 0 80px #ffffff00;
   }
}

/* change bg slowly
@keyframes changeBG {
   0% {
      background-color: #f3aefc;
   }

   100% {
      background-color: #202223;
   }
}

body.animate-bg {
   animation: changeBG 2s ease forwards;
} */
